/* body,
html {
  height: 100%;
} */
.divhero {
  height: 50vh;
}

.texthero {
  font-size: 70px;
}
.xxx {
  background: rgba(0, 0, 0, 0.158);
}
.xxx-xxx {
  background: rgb(17, 12, 59);
}
.heroimage {
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  min-width: 1024px;
  /* opacity: 0.6; */
}
.divherocontact {
  height: 100%;
}
.heroimagecontact {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50%;
  min-width: 1024px;
}
